Source: playbin2player
Section: video
Priority: extra
Maintainer: Dan Muresan <danmbox@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://danmbox.github.com/playbin2player

Package: playbin2player
Architecture: all
Depends: python (>= 2.5), python-gst0.10, python-gobject-2, ${misc:Depends}
Description: Gstreamer-based video player with variable speed playback support
 Playbin2 Player is a pure gstreamer-based video player with support for 
 faster / slower playback. It works on Python >= 2.5
